<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación de reclamo</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f0f0f0; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="color: #03912e; text-align: center;">Notificación de reclamo</h1>
        <h4 style="font-weight: bold;">Estimado Sr/ra {{name}} {{lastname}}</h4>
        <p style="color: #000;">Nos comunicamos para informarle que su reclamo nro {{complaint}} ha cambiado de estado.</p>
        <h4 style="font-weight: bold;">No responder a este mensaje.</h4>
    </div>  
</body>
</html>